@import url('https://fonts.googleapis.com/css2? família = Montserrat & display = swap');
@import url('https://fonts.googleapis.com/css2? family = Montserrat: wght @ 100 & display = swap');
@import url('https://fonts.googleapis.com/css2? family = Playfair + Display: wght @ 900 & display = swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
header{
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 4rem;
    display: flex;
    z-index: 10;
}
.Menu{
    width: 100%;
    height: 100%;
    display: flex;
    Justify-content: space-around;
}
.logo{
  width:8%;
  height: 100%;
}
.todecacho{
    width: 90px;
    height: 50px;
    position: fixed;
    margin-left: 2.6%;
    margin-top:0.8%;
}
.list{
    width: 740px;
    height: 100%;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    color: #9767A9;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    margin-left: 7%;
}
ul :hover{
    color:#9767A9 (10, 9, 9);
    font-weight: bold;
}
.pesquisa{
    height: 30px;
    width: 150px;
    border-color: #9767A9;
    border: 2px solid #9767A9;
    border-radius: 50px;
    padding-left: 27px;
    outline:none;
    margin-top: 1.2%;
    margin-left: 7%;
}
.procura{
    width: 15px;
    height: 15px;
    position: absolute;
    margin-left: 48%;
    margin-top: 1.8%;
}
input::placeholder {
    color:#9767A9;
}
.icones{
    height: 94%;
    width: 10vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 4%;
}
.face{
    width: 23%;
    height: 48%;
}
.insta{
    width: 23%; 
    height: 48%;
}
.youtube{
    width: 23%;
    height: 48%;  
}
.main-image{
    width: 100%;
    position: relative;
    background-image: url("Assets/cabeludo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    display: flex;
    align-items: center;
    color:#FFFFFF;
    height: 88vh;
}
.texts{
    width: 100%;
    display: flex;
    justify-content: space-between;
    opacity: 1;
}
.text1{
    width: 22%;
    margin-top: 9.2%;
    margin-left: 14%;
    font-family: 'Playfair Display', serif;
    font-size: 500%;
}
.text2{
    width: 22%;
    margin-top: 13%;
    margin-right: 17%;
    font-family: 'Montserrat', sans-serif;
    font-size: 180%;
    font-weight: lighter;
}
.textos{
    position: relative;
    color:#FFFFFF;
    background-color: #9767A9;
    height: 44vh;
    top: 34%;
}
.steps{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    opacity: 1;
}
.text3{
    display: flex;
    width: 55%;
    margin-top: 1.2%;
    font-family: 'Playfair Display', serif;
    font-size: 360%;
}
.text4{
    display: flex;
    width: 33%;
    margin-top: 3%;
    margin-right: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: 118%;
    font-weight: lighter;
    letter-spacing: -1.2px;
}
.box-mother{
    width: 100%;
    height: 500vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    opacity: 1;
}
.picture-one{
    width: 670px;
    height: 700px;
    margin-top: 250px;
    margin-left: 90px;
    position: absolute; 
    display: flex;
}
.Espelho{
    width: 600px;
    height: 450px;
    margin-top: -47%;  
}
.text-espelho{
    width: 450px;
    height: 400px;
    background:#9767A9;
    position: absolute;
    margin-top: 6%;
    margin-left: 66px;
}
.Toque{
    color:#fff;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
}
.carinho{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight:lighter;
    margin-left: 30px;
    line-height: 23px;
    width: 88%;
}
.picture-two{
    width: 670px;
    height: 700px;
    margin-top: 250px;
    margin-left: 90px;
    position: absolute; 
    display: flex;
}
.Maju{
    width: 600px;
    height: 450px;
    margin-top: -500%; 
    margin-left:91%;
}
.text-reporter{
    width: 380px;
    height: 330px;
    background:#9767A9;
    position: absolute;
    margin-top: -452%;
    margin-left: 104%; 
}
.Referências{
    color:#fff;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
}
.padrões{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight:lighter;
    margin-left: 30px;
    line-height: 18px;
    width: 90%;
}
.picture-three{
    width: 670px;
    height: 700px;
    margin-top: 250px;
    margin-left: 90px;
    position: absolute; 
    display: flex; 
}
.Cabelo-praia{
    width: 600px;
    height: 450px;
    margin-top:-421%;
}
.text-cabeludo{
    width: 409px;
    height: 250px;
    background:#9767A9;
    position: absolute;
    margin-top: -374%;
    margin-left: 90px;
}
.Detalhes{
    color:#fff;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
    width: 58%;
}
.volume{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight:lighter;
    margin-left: 30px;
    line-height: 14px;
    width: 77%;
}
.picture-four{
    width: 670px;
    height: 700px;
    margin-top: 250px;
    margin-left: 90px;
    position: absolute; 
    display: flex;
}
.Poder{
    width: 600px;
    height: 450px;
    margin-top: -394%; 
    margin-left:91%; 
}
.text-rainha{
    width: 380px;
    height: 260px;
    background:#9767A9;
    position: absolute;
    margin-top: -330%;
    margin-left: 104%; 
}
.Opiniões{
    color:#fff;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
}
.diversidade{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight:lighter;
    margin-left: 30px;
    line-height: 13px;
    width: 90%;
}
.picture-five{
    width: 670px;
    height: 700px;
    margin-top: 250px;
    margin-left: 90px;
    position: absolute; 
    display: flex;  
}
.Maternal{
    width: 600px;
    height: 450px;
    margin-top:-320%;
}
.text-amor{
    width: 420px;
    height: 290px;
    background:#9767A9;
    position: absolute;
    margin-top: -273%;
    margin-left: 83px;
}
.Raízes{
    color:#fff;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
    width: 50.9%;
}
.luta{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight:lighter;
    margin-left: 30px;
    line-height: 13px;
    width: 77%;
}
.picture-six{
    width: 670px;
    height: 700px;
    margin-top: 250px;
    margin-left: 90px;
    position: absolute; 
    display: flex; 
}
.Banho{
    width: 600px;
    height: 450px;
    margin-top: -286%; 
    margin-left:91%;   
}
.text-espuma{
    width: 380px;
    height: 260px;
    background:#9767A9;
    position: absolute;
    margin-top: -228%;
    margin-left: 104%;
}
.Fases{
    color:#fff;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
}
.respeite-se{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight:lighter;
    margin-left: 30px;
    line-height: 18px;
    width: 90%;
}
.picture-seven{
    width: 670px;
    height: 700px;
    margin-top: 250px;
    margin-left: 90px;
    position: absolute; 
    display: flex;
}
.Grizalhos{
    width: 600px;
    height: 450px;
    margin-top:-218%;
}
.text-aceitação{
    width: 396px;
    height: 276px;
    background:#9767A9;
    position: absolute;
    margin-top: -170%;
    margin-left: 74px; 
}
.Orgulho{
    color:#fff;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
    width: 70%; 
}
.natural{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight:lighter;
    margin-left: 30px;
    line-height: 20px;
    width: 77%;
}
.picture-eight{
    width: 200px;
    height: 100px;
    margin-top: 250px;
    margin-left: 90px;
    position: absolute; 
    display: flex;
}
.Ondas{
    width: 200%;
    height: 50%;
    margin-top: -570%; 
    margin-left: 360%;   
}
.Photo-gallery{
    width: 89%;
    height:115vh;
    margin-left: 89px;
    display: flex;
    flex-wrap: wrap; 
    margin-top: -490px;
}
.king{
    width: 260px;
    height: 445px;
}
.Byonce{
    width: 180px;
    height: 216px;
    margin-left: 18px;
}
.Michel-b{
    width: 180px;
    height: 212px;
    position: absolute;
    margin-left: 278px;
    margin-top: 232px;
}
.Grace{
    height: 444px;
    width: 180px;
    margin-left: 15px;
}
.Stylish{
    height: 663px;
    width: 280px;
    margin-left: 15px;
}
.photo-club1{
    height: 662px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 964px;
    margin-top: -710px;
}
.Distraído{
    height: 420px;
    width: 214px;
    margin-top: -8%;
}
.tranças{
    height: 224px;
    width: 214px;
}
.photo-club2{
    height: 230px;
    width: 654px;
    position: absolute;
    margin-top: 464px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Snoopy{
    height: 199px;
    width: 180px;
    margin-left: 42%;
    position: absolute;
}
.thaís{
    height: 199px;
    width: 180px;
    margin-left: 72%;
    position: absolute;
}
.Gloria{
    height: 199px;
    width: 260px; 
}
footer{
    background-color: #9767A9;
    width: 100%;
}
.End{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}
.Setas{
    display: flex;
    flex-direction: row;
    color: #fff;
    margin-left:70%;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}
.grupo-1{
    display: flex;
    flex-direction: row
}
.left{
    margin-right: 8%; 
}
.grupo-2{
    display: flex;
    flex-direction: row;
}
.right{
    margin-right: 27%;
}
.grupo-3{
    display: flex;
    flex-direction: row;
    width: -5%;
}
